* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1024px;
  margin: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.controls {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.toggle-icon {
  width: 50px;
  height: auto;
}

.room-header {
  text-align: center;
  margin: 25px 15px auto;
}

hr {
  margin-bottom: 5px;
}

.slide-container {
  width: 100%;
}
.range-meter {
  accent-color: black;
  width: 200px;
}
.relative {
  position: relative;
}
.lamp {
  width: 200px;
  height: 200px;
  background-color: black;
  position: relative;
  clip-path: polygon(
    40% 25%,
    60% 25%,
    85% 40%,
    52% 40%,
    52% 100%,
    48% 100%,
    48% 40%,
    15% 40%
  );
}
.lamp-light {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;

  clip-path: polygon(15% 40%, 85% 40%, 95% 80%, 5% 80%);
}
@media screen and (max-width: 960px) {
  .lamp,
  .lamp-light {
    display: none;
  }
}
